a{
    text-decoration: none !important;
}



.icon-nav{
    position: relative;
    top: 6px;
    right: 8px;
}
.enjoy{
    font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px
 }

 .section-title h1 {
    font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px
 }

 .section-title h6 {
    color: gray;
    margin-top: 50px;
 }

 .first-img{
   width: 800px;
   height: 700px;
 }

 .about ul li{
    list-style: none;
 }

 .about-box{
    background-color: white;
    position: relative;
    top: -180px;
    width: 70%;
    
    margin: auto;
    
    text-align: center;
 }

 .learn li i{
   line-height: 30px;
 }

 .txt-about{
   margin-top: 20px;
 }

 .about-text {
   font-size: 17px;
 }

 .about-2{
   width: 500px;
   height: 345px;
 }

 .about-btn{
   display: inline-block;
   background: rgba(255, 255, 255, 0.3);
   padding: 6px 30px 8px 30px;
   color: #fff;
   border-radius: 50px;
   transition: all ease-in-out 0.4s;
   margin-left: 100px;
 }

 .card-one {
  background-color: white;
 }

 .icon-1{
  background: rgba(206, 18, 18, 0.1);
 }